.test {
    top: 0;
    left: 0;
    position: absolute;
    background-color: #C4C4C466;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerform {
    display: flex;
    flex-direction: column;
    background-color: #DB8876;
    width: 669px;
    height: 87%;
    padding: 35px;
    box-shadow: -5px 10px 30px 0px #00000040;
    gap: 10px;

}

.formsection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.champ {
    width: 100%;
    height: 50px;
}

.message {
    width: 100%;
    height: 130px;
}

.formsection label {
    width: 100%;
    text-align: left;
}

.sendbutton {
    width: 170;
    height: 69;
    border-radius: 5px;
    background-color: #901C1C;
    color: white;
}

.exitcross{
    position: absolute;
    top: 0;
    font-size: 45px;
    right: 0;
    cursor: pointer;
}

.headform{
    position: relative;
}

.headform h3,p{
    font-family: DM Sans;
font-weight: 400;
font-size: 64px;
}