.photographername {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #D3573C;
}

.photographerportrait{
    border-radius: 200px;
    object-fit: cover;
}

.photographerlocalisation{
    font-family: DM Sans;
font-weight: 400;
font-size: 13px;
text-align: center;
color: #901C1C;
}

.photographertagline{
    font-family: DM Sans;
font-weight: 400;
font-size: 10px;
text-align: center;

}

.photographerprice{
    font-family: DM Sans;
font-weight: 400;
font-size: 9px;
text-align: center;
color: #757575;

}

.photographercard a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
width: 33%;
}

.photographers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 45px;
}