* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
}

body{
  max-width: 1440px;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
}