* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
}
html{
  max-width: 1440px;
   margin: auto;
}
body{
  max-width: 1440px;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

main{
  width: 100%;
}

.pagephotographer{
  display: flex;
  flex-direction: column;
  gap: 20px;
}