.listSort {
    width: 170px;
    height: 69px;
    color: white;
    border-radius: 5px;
    background-color: #901c1c;
    text-decoration: none;
    list-style: none;
    color: white;
    display: flex;

    align-items: center;
    justify-content: space-around;
}

.listSort p {
    color: white;
    font-size: 23px;
}

.listSortExtand {
    z-index: 5;
    overflow: auto;
    position: absolute;
    top: 0;
    border-radius: 5px;
}

.listSortExtand option {
    width: 170px;
    height: 69px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #901c1c;
    cursor: pointer;
}

.firstsort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #901c1c;
    width: 170px;
}

hr {
    width: 170px;
}

.list {
    position: relative;
    height: 69px;
}

.sorts {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
}

.sortbox {
    display: flex;
    align-items: center;
    gap: 15px;
}
